<section >

  <form class="flex" [formGroup]="personForm" errorControl [errors]="Errors"  #data="errorControl">

    <div >
      <label for="">Name </label>
      <input id="name" type="text" formControlName="name">
      <div></div>
    </div>
    <div>
      <label for="">Email </label>
      <input id="email" type="text" formControlName="email">
    </div>
    <div>
      <label for="">Age </label>
      <input id="age" type="text" formControlName="age">
    </div>
    <div >
      <label for="">DOB </label>
      <input id="dob" type="text" formControlName="dob">
    </div>

    <!-- <div>
      <button (click)="remove(data)">  remove All Validators</button>
      <button (click)="setValidators(data)">  Set Validators</button>
      <button (click)="removeByOne(data , 'name')">  remove Name error</button>
    </div> -->

  <!-- <div class="flex row">

    <input placeholder="Enter your FormControl Name here" type="text" [(ngModel)]="CONTROL_NAME" [ngModelOptions]="{standalone : true}">

    <label >
      Select Error Type
      <select  [(ngModel)]="ERROR_TYPE" [ngModelOptions]="{standalone : true}">
        <option value="required">Required</option>
        <option value="maxlength">Max Length</option>
      </select>
    </label>

  </div>

  <div class="flex row">
    <button (click)="setValidators(data)"> Set Validators </button>
    <button (click)="removeValidators(data)"> remove Validators </button>
  </div> -->

  </form>
</section>
